.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img {

}

.cabecalho-menu {

}

.cabecalho-menu-item {

}