.conteudo {
    border-top: 0.4px solid var(--branco);
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 64px;
    color: var(--branco);
}

.conteudo-principal-escrito-subtitulo {
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 24px;
    color: var(--marrom-claro);
}

.conteudo-principal-escrito-botao {
    background-color: var(--marrom-claro);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 24px;
    color: var(--marrom-escuro);
}

.conteudo-principal-escrito-img {
    height: 430px;
}

.conteudo-secundario {}
.conteudo-secundario-titulo {}
.conteudo-secundario-paragrafo {}
